.header {
  text-align: center;
}

.titleHeader {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: normal;
}

.textHeader {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}

.inputField,
.phoneField,
.textField {
  width: 100%;
  padding: 12px;
  background-color: #fafafa;
  border-radius: 8px;
  outline: none;
}

.inputField:focus,
.phoneField:focus,
.textField:focus {
  outline: none;
  box-shadow: 0 0 0 2px #3b82f6;
}
